.main-bg {
  height: 500px;
  background-image: url("../asset/images/mainImg.jpg");
  background-size: cover;
  background-position: center;
}

.start {
  opacity : 0
}
.end {
  opacity : 1;
  transition : opacity 0.5s;
}


